
ul.link-bar {
  	list-style-type: none;
     	margin: 0;
        padding: 0;
	 }
li.link-bar {
    display: inline;
    padding: 3px;
}
a.link-bar {
 text-decoration: none;
}
a.link-bar:hover {
text-decoration: underline;
}

a.active {
text-decoration: none;
color:black;
}

        				
        				
        				
        				
        				
        				
        	
